<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">


<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<title>YOUR SITE.COM</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="stylesheet" type="text/css" href="css.css" media="screen" />
</head>

<body>

<div id="container"> 

  <div id="header">
    <div class="headtitle">GRUPO4</div>
  </div>

  <div id="menu"> 
    <ul>
      <li><a href="#" title="">HOME</a></li>
      <li><a href="#" title="">ALMACENES</a></li>
      <li><a href="#" title="">STOCK</a></li>
      <li><a href="#" title="">OTRO</a></li>
      <li><a href="#" title="">OTRO 2</a></li>

    </ul>
  </div>


  <div id="content"> 

    <div id="insidecontent"> <br>
      <h1>Bienvenidos al Grupo 4</h1>

      <p>
	  Manuel Aldunate<br>Fernando Tomas Chame<br>Francisco Arturo Garri<br>Javier Andres Soto<br>Javier Sebastian Espinosa<br>
	 <br><br>
	  </p>
	        <h1>Quienes somos</h1>

      <p>
	  Almacenes y fabricas
	 <br><br>
	  </p>
	   <p>
	  Banco
    <br><br>
	  </p>
	   
    </div>

    

    <div style="clear: both;"></div>

  </div>



  <div id="footer"> <span>Copyright © 2005 | All Rights Reserved  </span> 
  </div>

</div>
</body>
</html>