# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 832f4af14628e6bcc313497cc7614356ca30d0ab1f40b82ec491acdd3ad42aa74ce40ac686bc79e0dabeab72defaca3c33bc20d82393624d79e34138b133e1fb

test:
  secret_key_base: ccfba9e87534f9b685156a52e3d763ac52d6a20fe65fdec0f3b4d77f73b96ca75be8e4afbead5f1ccbdd1983f3dd545d4bca87806e57b7e84e5bd16c95b7b2fc

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
