<div data-hook="homepage_products">

	<p>Su pago fue procesado de manera exitosa. </p>
	<p>El monto total pagado fue: <%=@total%></p>
	<p>El bruto fue: <%=@bruto%></p>
	<p>El iva es: <%=@iva%></p>
	<p>La cantidad de despachados es: <%=@despachados%></p>

  
</div>
